.graph-container{
    margin: 16px;
    margin-bottom: 0;
    background-color: rgb(20 20 41 / 60%)!important;
    display: flex;
    padding: 0px 16px;
    min-height: 48px;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.graph-title{
    color: white;
    margin: .5rem 0;
    cursor: pointer;
}

.collapseGraph{
    margin: 16px;
    margin-top: 0;
    background-color: white;
}

.pie-chart{
    padding: 16px;
}